header {
	text-align: center;
	background-color: #fff7b7;
	color: #160d41;
	border-width: 0px;
}

div {
	background-color: #fff290;
	padding: 30px;
	border-color: #160d41;
	border-style: solid;
	border-width: 0px 30px 30px 30px;
}

h3[class='site.title'] {
	font-size: 22px;
}

p[class='site.description'] {
	font-size: 14px;
	font-style: italic;
}

p[class='larger'] {
	font-size: 17px;
}

p {
	font-size: 12px;
}