<!doctype html>

<html>
	<head>
		<title>Cade Conradson - {{ page.title }}</title>
		<link rel="shortcut icon" type="image/jpg" href="{{ site.url }}/assets/images/snakeface.jpg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/column.css">
	</head>
	
	<body>
		<div id="wrap">
		
			{% include top.html %}
			
			{% include nav.html %}
			
			{{ content }}
		
		</div>
	</body>
</html>